* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.container {
  margin: auto;
  width: 920px;
  height: 500px;
  background-color: aliceblue;
}
.cards {
  border-radius: 8px;
  background: #e28625;
  width: 33%;
  height: 500px;
}
.card {
  display: flex;
}
.cards-logo .cards-image {
  padding-top: 48px;
  padding-left: 48px;
}
.cards-title {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 48px;
  padding-top: 48px;
}
.cards-text {
  color: #fff;
  font-family: "Lexend Deca";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding-top: 48px;
  padding-left: 47.5px;
}
.cards-button {
  border-radius: 25px;
  background: #f2f2f2;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 31px;
  padding-right: 31px;
  color: #e28625;
}
.button {
  transform: translateY(50px) translateX(48px);
}
.cards2 {
  width: 34%;
  border-radius: 8px;
  background-color: #006971;
}
.cards3 {
  width: 34%;
  background-color: #004140;
  border-radius: 8px;
}
.cards-button {
    background-color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    transition: .3s;
  }
  .cards-button:hover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
  } 
